/* starter default settings */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Kalam", cursive;
}

/* setting variables for later reference */
:root{
  --text-color: black;
  --main-color: white;

  --big-font: 6.6rem;
  --p-font: 1rem;
}

/* general body default styles */
body{
  background-image: url(img/crumpled.jpg);
  color: var(--text-color);
}

/* HEADER SECTION */
/* navbar flex and positioning */
header{
  position: relative;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  padding: 35px 7%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  transition: all .50s ease;
}

/* navbar logo size */
.logo img{
  width: 40%;
  height: auto;
}

/* navbar content settings */
.navlist{
  display: flex;
}

.navlist li:last-child{
  margin-right: 0;
}

.navlist a{
  display: inline-block;
  margin: 0 35px;
  color: var(--text-color);
  font-size: var(--p-font);
  
  transition: all.6s ease;
}

.navlist a:hover{
  color: orange;
}

.navlist li ul{
  display: none;
  position: absolute;
  background-color: white;
  border: black 3px solid;
}

.navlist li:hover ul{
  display: block;
}

/* navbar button */
.nav-btn{
  display: inline-block;
  padding: 9px 24px;
  background: transparent;
  border: 2px solid var(--text-color);
  border-radius: 7px;
  color: var(--text-color);
  font-size: 15px;
  font-weight: 500;
  transition: all .6s ease;
}

.nav-btn:hover{
  transform: translateY(-5px);
  border: 2px solid var(--main-color);
  color: var(--main-color);
}

/* nav hamburger menu */
/* hide when on widescreen, show when on mobile */
#menu-icon{
  font-size: 42px;
  z-index: 10001;
  cursor: pointer;
  margin-left: 25px;
  display: none;
}

/* JUMBOTRON STYLING */

/* setting general section styles */
section{
  padding: 0 14%;
}

/* landing graphic size and position */
.hero{
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

/* landing graphic text/photo size/position */
.hero-text h1{
  font-size: var(--big-font);
  color: orange;
  font-weight: 900;
  margin: 15px 0;
  transition: all .6s ease-in-out;
}

.hero-text h1:hover{
  color: blue;
  text-shadow: 5px 10px black;
}

.hero-text h5{
  font-size: 24px;
  font-weight: 80;
  letter-spacing: 1px;
}

.hero-text p{
  font-size: var(--p-font);
  font-weight: 400;
  width: 100%;
  max-width: 620px;
  line-height: 32px;
  color: var(--text-color);
  margin-bottom: 40px;  
}

.hero-img img{
  width: 100%;
  height: auto;
}

/* setting up flexbox for buttons */
.hero-buttons{
  display: flex;
  align-items: center;
}

.about-btn{
  display: inline-block;
  padding: 13px 32px;
  background: var(--main-color);
  border: 3px solid black;
  color: var(--text-color);
  font-size: 15px;
  font-weight: 500;
  transition: all .6s ease;
  margin-right: 20px;
}

.about-btn:hover{
  transform: scale(1.1);
}

.explore-btn{
  display: inline-block;
  padding: 13px 32px;
  background: var(--main-color);
  border: 3px solid black;
  color: var(--text-color);
  font-size: 15px;
  font-weight: 500;
  transition: all .6s ease;
}

.explore-btn:hover{
  transform: scale(1.1);
}

/* MAIN CONTENT */

main{
  background-image: url(img/linedpaper.jpg);
}

/* THUMBNAIL CARDS */

.container {
  width: 75%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  gap: 15px;
}

.card {
  flex: 1;
  position: relative;
  background-color: white;
  border: black 3px solid;
  width: 200px;
  height: 350px;
  overflow: hidden;
  margin: 1.5rem auto;
  padding: 5px;
  transition: all .6s ease-in-out;
}

.card h3,
.card h2,
.card p{
  color: black;
}

.card:hover{
  box-shadow: 10px 20px 10px black;
}

#top img{
  margin-left: auto;
  margin-right: 0;
}
#top h3:hover{
  font-style: oblique;
}

#bottom h2:hover{
  font-style: oblique;
}

#bottom a:hover{
  font-style: italic;
}

/* preparing out initial state for image transforms */
.card img {
  width: 175px;
  height: 150px;
  margin-bottom: 0px;
  margin-top: 0px;
  padding: 2px;
}

.headerDescriptionOne{
  transform: translateY(20px);
}

.headerDescriptionOne h3{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 24px;
  text-align: left;
  margin-left: 10%;
  color: rgba(255, 149, 0, 0.7);
}

.headerDescriptionTwo{
  transform: translateY(20px);
}

.headerDescriptionTwo h3{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 24px;
  text-align: left;
  margin-left: 10%;
  color: rgba(255, 149, 0, 0.7);
}

.horizontal-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5rem;
  gap: 2px;
}

.horizontal-content a{
  color: black;
  text-decoration: none;
}

.horizontal-content a:active{
  color: black;
  text-decoration: none;
}

.horizontal-content a:visited{
  color: black;
  text-decoration: none;
}

.horizontal-card {
  position: relative;
  width: 75%;
  height: 175px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  color: black;
  border: black 5px solid;
  overflow: hidden;
  margin: 1.5rem auto;
  padding: 15px;
  gap: 18px;
  transition: all .6s ease-in-out;
}

.horizontal-card:hover{
  box-shadow: 10px 20px 10px black;
}

.horizontal-card h2{
  font-size: 52px;
}

.horizontal-card h3{
  font-size: 36px;
  color: #797979;
}

.horizontal-card .left-side {
  flex: 1;
  align-items: center;
  justify-content: flex-start;
}

.horizontal-card .leftside h2:hover {
  font-style: oblique;
}

.horizontal-card .middle {
  display: flex;
  gap: 3px;

  flex-direction: column;
  flex: 2;
}

.horizontal-card .middle summary{
  flex: 1;
  overflow: hidden;
}

.horizontal-card .middle a{
  flex: 1;
}

.horizontal-card .middle a:hover {
  font-style: oblique;
}

.horizontal-card .right-side {
  flex: 1;
  align-items: center;
}

.horizontal-card .right-side img{
  transform: translateY(-15px);
  
}

/* FOR MARQUEE ON CONTENT PAGE */
/* LEFT SCROLL */
.marquee-container-left{
  font-size: 15px;
  padding-block: 8px;
  border-block: 1px solid;
  /* overflow: hidden hides everything outside the flexbox area */
  overflow: hidden;

  /* setting user-select to none disables user interaction with this element/highlighting/text selection*/
  user-select: none;
  display: flex;
  background-color: orange;
  gap: 5px;
}

.marquee-container-left ul{
  list-style: none;
  /* setting flex shrink to 0 and min width to 100% will make the elements extend beyond flexbox */
  flex-shrink: 0;
  min-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;

  animation: scrollLeft 20s linear infinite;
}

@keyframes scrollLeft{
  to{
    transform: translateX(calc(-100% - 5px));
  }
}

.marquee-container-left ul li{
  font-weight: bold;
  margin-inline: 4px;
}

/* pauses the scroll whenver you mouse over it */
.marquee-container-left:hover ul{
  animation-play-state: paused;
}

.google-doc{
  width: 800px;
  height: 1200px;
  background-color: white;
  margin: 1.5rem auto;
}

.essayTitle{
  width: 800px;
  margin: 1.5rem auto;
  padding: 10px;
  background-color: white;
  border: 5px black solid;
  transition: all .6s ease-in-out;
}

.essayTitle:hover{
  box-shadow: 10px 20px 10px black;
}

.essayTitle h1{
  font-size: 36px;
  font-weight: bold;
  color: orange;
}

.essayTitle h3{
  font-size: 24px;
  color: black;
}

/* MEDIA QUERIES YAY */
/* change left side padding */
@media(max-width: 2000px){
  section{
    padding:0 4%;
  }

  .horizontal-card h2{
    font-size: 52px;
  }
  
  .horizontal-card h3{
    font-size: 36px;
  }
}

@media(max-width: 1667px){
  .horizontal-card h2{
    font-size: 45px;
  }
  
  .horizontal-card h3{
    font-size: 30px;
  }
}

@media(max-width: 1518px){
  .horizontal-card h2{
    font-size: 40px;
  }
  
  .horizontal-card h3{
    font-size: 25px;
  }
}

@media(max-width: 1410px){
  .horizontal-card h2{
    font-size: 36px;
  }
  
  .horizontal-card h3{
    font-size: 20px;
  }
}

@media(max-width: 1280px){
  :root{
    --big-font: 4.6rem;
  }
  .about-btn{
    font-size: 15px;
    padding-top: 10px;
    padding-right: 23px;
  }

  .explore-btn{
    font-size: 15px;
    padding-top: 10px;
    padding-left: 23px;
  }
}

@media(max-width: 1121px){
  .card h2{
    font-size: 22px;
  }
  .card p{
    font-size: 15px;
  }
  .card a{
    font-size: 15px;
  }  
  .right-side img{
    display: none;
  }
}

/* small enough for hamburger menu */
@media(max-width: 1024px){

  #menu-icon{
    display: block;
  }

  /* replaces horizontal navbar with vertical stacking menu triggered by the hamburger */
  .navlist{
    position: absolute;
    width: 100%;
    height: 100vh;
    padding: 100px 50px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 100%;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(32px);
    transition: all .6s ease-in-out;
  }

  /* formatting the menu options in small menu */
  navlist a{
    display: block;
    padding: 0;
    margin: 0px 0px 25px 0px;
    font-size: 1.7rem;
  }
  /* .OPEN opens the content by default or makes it visible. In this case, the .open opens up the hamburger dropdown */
  .navlist.open{
    left:0
  }
}

@media(max-width: 1061px){
  .card h2{
    font-size: 20px;
  }
  .card p{
    font-size: 15px;
  }
  .card a{
    font-size: 15px;
  }
}

@media(max-width: 1060px){
  .card h2{
    font-size: 20px;
  }
  .card p{
    font-size: 13px;
  }
  .card a{
    font-size: 13px;
  }
}

@media(max-width: 940px){
  .card{
      flex: 0 1 calc(50% - 10px); /* - 2 x 5px left & right margin */
      margin-bottom: 10px;
}

/* MOBILE TERRITORY */
@media(max-width: 768px){
  .hero{
    flex-direction: column;
  }
  .hero-text{
    padding-top: 130px;
  }
  .hero-img{
    height: 500px;
    width: 500px;
    margin: 0 auto;
  }
  .hero-img img{
    width: 70%;
    height: 70%;
    padding-top: 50px;

    /* object fit: contain makes the img keep aspect ratio but resizes it to fit a different dimension */
    object-fit: contain;
}

@media(max-width: 642px){
  .hero{
    height: 100vh;
  }
  .hero-img{
    height: 50%;
    width: 50%;
    margin: 0 auto;
  }
  :root{
    --big-font: 4rem;
  }

  /* tiny shift to the buttons to center */
  .hero-buttons{
    margin-left: 25px;
  }
}

@media(max-width: 595px){

  /* getting rid of the horizontal bars when the scren is small */
  .card article{
    display: none;
  }
  .headerDescriptionTwo{
    display: none;
  }
  .horizontal-content{
    display: none;
  }

  .card{
    height: 250px;
  }

}

@media(max-width: 475px){
  :root{
    --big-font: 3.4rem;
  }
  .hero-text h5{
    font-size: 15px;
  }
  .hero-img{
    height: 30%;
    width: 30%;
    margin: 0 auto;
  }
  .hero-buttons{
    margin-left: 25px;
  }
}